*{
    margin: 0;
}
body{
    position: relative;
}
#mob_click{
    display: none;
}
@media screen and (min-width:768px){
    
    nav{
        background: linear-gradient(180deg,
            rgb(68, 68, 68),
            rgb(139, 139, 139),
            rgb(68, 68, 68) 50%,
            black 50%,
            rgb(41, 41, 41) 70%,
            rgb(63, 63, 63) 80%,
            rgb(41, 41, 41));
        position: relative;
        z-index: 100;
        height: 100px;
    }
    .nav_title{
        color: white;
        font-size: 40px;
        padding: 20px 0 20px 50px;
    }
    .nav_menu{
        padding: 0;
        position: absolute;
        right: 100px;
        top: 0;
    }
    .nav_menu li{
        float: left;
        list-style: none;
        font-size: 24px;
        line-height: 87px;
    }
    .nav_menu li a {
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 7px 30px 7px 30px;
    }
    #nav_show{
        display: none;
        position: absolute;
        left: 0px;
    }
    #nav_show:nth-of-type(2){
        position: relative;
    }
    #nav_show li{
        float: none;
        width: 330px;
        display: inline-block;
        background-color: #FF845E;
    }
    #nav_show li a{
        width: 280px;
    }
    #nav_show li a:hover ,#about_menu li:hover{
        color: #FF845E;
        background-color: white;
    }
    .nav_menu li a:hover{
        background-color: #FF845E;
    }
    
    #nav_show li a span{
        color: #FF845E;
    }
    .itemTop>div{
        width: 33.3%;
    }
    #about_menu{
        display: none;
        position: absolute;
        right: -50px;
    }
    #about_menu li{
        display: block;
    }
    .pc_home{
        background-color: #FF845E;
    }
}

@keyframes title_img_animation{
    0%{
        background-image: url(../images/slide1.jpg);
        z-index: 1;
    }
    50%{
        background-image: url(../images/slide1.jpg);
        z-index: 1;
    }
    51%{
        background-image: url(../images/slide2.jpg);
        z-index: 1;
    }
    100%{
        background-image: url(../images/slide2.jpg);
        z-index: 1;
    }
}
.title_img{
    animation-name: title_img_animation;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 768px;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    z-index: 1;
    
}
.title_text{
    position: absolute;
    margin-top: 8%;
    margin-left: 16%;
    color: white;
}
.title_text h1{
    font-size: 5vw;
    letter-spacing: -3px;
}
.welcome{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
}

.welcome_text{
    margin-top: 5%;
    color: gray;
}
.welcome_text .title{ 
    font-size: 4vw;
}
.welcome_text p{
    font-size: 18px;
}
.welcome_btn{
    background: linear-gradient(#63adf1 50%, #2a7ce7 51%);
    color: white;
    font-size: 24px;
    padding: 25px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}
@keyframes btn_hover {
    100%{
        background: linear-gradient(#d9e8f3 50%, #8cc4eb 51% ,#d3eafa 100%);
    }
}
.welcome_btn:hover{
    /* -webkit-filter:brightness(2.0) */
    animation-name:btn_hover;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}


.item_menu{
    margin: auto;
    background-color: #e5e5e5;
    color: gray;
    padding: 5% 0% 5% 0%;
}
.item_menu img{
    cursor:default;
}
.item_text{
    float: left;
}
.itemTop , .itemBottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.itemTop{
    max-width: 1200px;
    margin: auto;
}
.item1 , .item2 , .item3 , .item4 , .item5 , .item6{
    display: flex;
}

/* icon翻轉動畫 */
@keyframes rotate{
    100%{
        transform: rotateY(180deg);
    }
}
.rotate_animation{
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes rotate_1{
    100%{
        transform: rotateY(-180deg);
    }
}

.rotate_animation_1{
    animation-name: rotate_1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.itemTop a:hover , .itemBottom a:hover{
    color: orange;
    cursor: pointer;
}
.item_text{
    margin-top: 20px;
}

.list {
    background-image: url(../images/parallax2.jpg);
    height: 750px;
    width: 100%;
    position: relative;
    background-size: cover;

}
.list_text{
    position: absolute;
    margin-left: 40%;
    display: block;
    margin-top: 200px;
    margin-right: 12%;
    font-size: 3vw;
    /* word-wrap:break-word; */
    color: white;
}

.list2{
    margin: 5% 20% 5% 20%;
    position: relative;
    display: flex;
}


.list2_content h2{
    position: absolute;
    font-weight: normal;
    font-size: 42px;
    top: 0;
    left: 0;
}
.list2_content2 h4{
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
}
.list2_content2{
    padding-top: 5%;
    width: 350px;
    margin-right: 30px;
    height: 300px;
}
#list_btn{
    position: absolute;
    margin-top: 20px;
    line-height: 10px;
    height: 10px;
    border-radius: 1rem;
}

footer{
    margin-top: 200px;
    background-color: white;
    position: relative;
}

footer div{
    margin: 20px 0 20px 0;
    bottom: 0;
    left: 0;
    color: black;
    font-size: 14px;
    margin-left: 20%;
    display: inline-block;
}
.mob_nav ,.mob_text{
    display: none;
}

@media screen and (max-width:1200px){
    .nav_title{
        width: 100%;
        text-align: center;
        font-size: 36px;
        top: 0;
        vertical-align: top;
        line-height: 10px;
    }
    .nav_menu{
        margin-top: 20px;
        padding: 0px;
    }
    .nav_menu li{
        position: relative;
        top: 30px;
        right: 50px;
        line-height: 35px;
    }
    #nav_show{
        top: 20px;
    }
    #about_menu{
        top: -20px;
        right: -380px;
        line-height: 40px;
        z-index: 100;
    }
    .title_text{
        margin-top: 5%;
        margin-left: 5%;
    }
    .welcome{
        padding-left:5%;
        padding-right: 5%;
    }
    .list{
        height: 400px;
    }
    .list_text{
        margin-top: 120px;
    }
    .list2{
        margin: 5% 10% 5% 10%;
    }
}
@media screen and (max-width:950px){
    .nav_menu li{
        position: relative;
        top: 30px;
        right: 1%;
        line-height: 35px;
    }
    #about_menu{
        right: -300px;
    }
}

@media screen and (max-width:820px){
    .nav_menu li{
        right: -5%;
    }
}

@media screen and (max-width:767px){
    #mob_click{
        display: block;
    }
    nav{
        display:none;
    }
    .mob_nav{
        z-index: 9999;
        left: 0;
        top: 0;
        font-size: 30px;
        margin-left: 30px;
    }
    .mob_nav li ,.mob_nav li ul ,.mob_nav a{
        text-decoration: none;
        padding: 0;
        list-style: none;
        color: #FF845E;
    }
    .mob_nav a:hover{
        color: white;
        background-color: #FF845E;
    }
    #mob_click{
        font-size: 42px;
        border-radius: 1rem;
    }
    .title_text{
        display: none;
    }
    .mob_text{
        display: block;
        text-align: center;
        padding-top: 60px;
        font-size: 40px;
    }
    .welcome{
        display: inline-block;
        padding-bottom: 10%;
    }
    .welcome_img{
        padding-left: 12%;
    }
    .welcome_text{
        text-align: center;
    }

    .list2_content{
        margin-bottom: 50px;
    }
    .list2{
        display: inline-block;
    }
}