body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1440px;
  height: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gainsboro;
}

.wrap > aside {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: white;
}

.wrap > aside .menu {
  margin-top: 48px;
}

.wrap > aside .community {
  margin-bottom: 70.5px;
}

.wrap > aside .community > li:nth-of-type(1) {
  margin-bottom: 27.2px;
}

.wrap > aside .community > li:nth-of-type(2) {
  margin-bottom: 37.2px;
}

.content {
  width: 1340px;
  background-image: url(../bg.png);
}

.content > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content > nav > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content > nav > .list li {
  padding-top: 46px;
  margin-left: 99px;
  position: relative;
  font-weight: 900;
}

.content > nav > .list li a {
  color: #b41d1d;
  text-decoration: none;
}

.content > nav > .list li:nth-of-type(1)::before {
  content: '';
  width: 130px;
  height: 66px;
  position: absolute;
  top: 0;
  right: -44px;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(207, 15, 0, 0.15)), to(rgba(207, 15, 0, 0)));
  background: linear-gradient(180deg, rgba(207, 15, 0, 0.15), rgba(207, 15, 0, 0));
}

.content > nav > .list li:nth-of-type(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: -46px;
  width: 130px;
  height: 7px;
  background-color: #cf0f00;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content > nav > .list li:nth-of-type(2) {
  margin-left: 79px;
}

.content > nav > .list li + li {
  margin: 0 20px;
  background: none;
}

.content > nav > .list li + li a {
  color: #461504;
}

.content > nav > ul:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.content > nav > ul:nth-of-type(2) li + li {
  margin-left: 43.4px;
}

.content > nav > ul:nth-of-type(2) img {
  width: 17.2px;
  height: 19.8px;
}

.content .title_text {
  margin-top: 172px;
  margin-left: 60px;
  font-weight: 900;
}

.content .title_text h3 {
  background: rgba(255, 255, 255, 0.4);
  color: #cf0f00;
  letter-spacing: 8.4px;
  font-size: 28px;
  padding: 9px 28px 8px 25px;
  display: inline-block;
  margin-bottom: 33px;
}

.content .title_text h2 {
  color: #461504;
  font-size: 64px;
  letter-spacing: 1.28px;
  margin-bottom: 16px;
}

.content .title_text h2 span {
  color: #cf0f00;
}

.content .title_text h1 {
  color: rgba(70, 21, 4, 0.8);
  font-size: 64px;
  margin-bottom: 40px;
}

.content .title_text button {
  padding: 21px 64px;
  background-color: #cf0f00;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.content .item {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .item > div {
  width: 378px;
  height: 252px;
  border-radius: 15px;
  padding: 20px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.35);
  margin-left: 60px;
}

.content .item > div h3 {
  color: #cf0f00;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.48px;
  margin-left: 13px;
}

.content .item > div p {
  color: #461504;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 30px;
  width: 308px;
  height: 90px;
  font-weight: 600;
}

.content .item > div:nth-of-type(2) {
  position: relative;
  margin-left: 40px;
  z-index: 1;
}

.content .item > div:nth-of-type(2) h3 {
  width: 223px;
  margin-left: 20px;
}

.content .item > div:nth-of-type(2)::before {
  content: 'STOP';
  position: absolute;
  font-size: 26.2px;
  letter-spacing: 0.53px;
  top: 71px;
  color: #cf0f00;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */