
.banner{
    position: relative;
}
.banner>img{
    position: absolute;
    top: 30px;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}